/*font-family: 'Cinzel Decorative', cursive;
font-family: 'Quicksand', sans-serif;*/

:root {
    --heading-font: 'Cinzel Decorative', cursive;
    --default-font: 'Quicksand', sans-serif;
}
body {
    font-family: var(--default-font);
    margin-bottom: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
p {
    line-height: 1.5;
}
.hello-there p {
    font-size: 35px;
    padding-top: 100px;
}
h1 {
    font-size: 65px;
}
.hello-there, .project-description h2 {
    margin-bottom: 40px;
}
.hello-there a {
    padding: 15px 30px;
    border: 1px solid #b492b5;
    border-radius: 4px;
    background-color: #b492b5;
    color: white;
    text-decoration: none;
}
.hello-there a:hover {
    transition: 0.5s;
    color: #b492b5;
    background-color: white;
}
.hello-there {
    text-align: center;
    background-color: #f9edf8;
    padding-bottom: 90px;
}
.about-section h1 {
    font-size: 64px;
    line-height: 1;
}
.about-section h2 {
    font-size: 18px;
}
.project-button {
    padding: 15px 30px;
    border: 1px solid #b492b5;
    border-radius: 4px;
    color: #b492b5;
    text-decoration: none;
}
.project-button:hover {
    color: white;
    background-color: #b492b5;
    transition: 0.5s;
}
.project-description {
    padding: 100px 60px;
}
.project-description h2 {
    font-size: 30px;
}
.about-section {
    padding: 160px 20px;
}
.about-picture {
    max-width: 500px;
}
.about-section a {
    padding: 15px 30px;
    border: 1px solid #b492b5;
    border-radius: 4px;
    background-color: #b492b5;
    color: white;
    text-decoration: none;
}
.about-section a:hover {
    transition: 0.5s;
    color: #b492b5;
    background-color: white;
}
@media (max-width: 960px) {
    h1 {
        font-size: 45px;
    }
    .project-description {
        padding: 0 20px;
        text-align: center;
    }
    .hello-there {
        padding-bottom: 45px;
    }
    .hello-there p {
        padding-top: 50px;
    }
    .about-section {
        text-align: center;
        padding: 0;
    }
    .about-picture {
        margin-top: 30px;
    }
}