/*font-family: 'Cinzel Decorative', cursive;
font-family: 'Quicksand', sans-serif;*/

:root {
    --heading-font: 'Cinzel Decorative', cursive;
    --default-font: 'Quicksand', sans-serif;
}
body {
    font-family: var(--default-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
.hello-there p {
    font-size: 40px;
    padding-top: 100px;
}
h1 {
    font-size: 65px;
}
h2 {
    margin-bottom: 40px;
    font-size: 30px;
}
.hello-there a {
    padding: 15px 30px;
    border: 1px solid #b492b5;
    border-radius: 4px;
    background-color: #b492b5;
    color: white;
    text-decoration: none;
}
.hello-there {
    text-align: center;
    background-color: #f9edf8;
    padding-bottom: 90px;
}